/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 4px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #ff3c00;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//spinner

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mat-typography h3 {
    margin: 0 0;
}